<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{% block title %}Fake Person Generator{% endblock %}</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="app-wrapper">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static 'js/animate.js' %}"></script>
</body>
</html>
